<!DOCTYPE html>
<html lang="en">
<head>
    {% include './head.twig' %}
</head>
<body>
<main role="main" class="container">
    <form action="/receivers/create" method="post">
        {% include './form.twig' %}
    </form>
</main>
</body>
</html>